.container {
  max-width: 96%;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.doctors {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  app-doctor {
    background: #ddd;
  }
}
