.container {
  padding: 1rem;
  cursor: pointer;
  user-select: none;
}

.completed {
  text-decoration: line-through;
  background: rgba(0, 128, 0, 0.308);
  transition: 0.4s all;
}

p {
  padding: 0.25rem;
  transition: 0.4s all;
}
